  {% load static %}
  
  <!--   Core JS Files   -->
  <script src="{% static "chat/mdv21/js/core/jquery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "chat/mdv21/js/core/popper.min.js" %}" type="text/javascript"></script>
  <script src="{% static "chat/mdv21/js/core/bootstrap-material-design.min.js" %}" type="text/javascript"></script>
  <script src="{% static "chat/mdv21/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
  
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>    -->

  <!-- Chartist JS -->
  <!-- <script src="{% static "chat/mdv21/js/plugins/chartist.min.js" %}"></script>    -->

  <!--  Notifications Plugin    -->
  <script src="{% static "chat/mdv21/js/plugins/bootstrap-notify.js" %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "chat/mdv21/js/material-dashboard.min.js" %}" type="text/javascript"></script>