{% load static %}

    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static "chat/mdv21/img/sidebar-1.jpg" %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <span class="simple-text logo-normal">
            KPMG Audit Apps
        </span>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <span class="nav-link">
              <i class="material-icons">account_balance</i>
              <p>Companies House</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
